@import "./misc.scss";

.class {
	color: green;
	text-align: center;
}

.center {
	text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer-wrapper {
  flex: 0 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    &-small {
        text-align: center;
        margin-bottom: 20px;
    }
}

.text {
    text-align: center;
    width: 50%;
    line-height: 2.5;
    font-size: 14px;
    margin: 0 auto;
    color: #000;
    font-weight: normal;
    font-family: "Roboto";
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    &_relative {
        position: relative;
    }
    &_flex {
        display: flex;
    }
    @include laptops {
        min-width: 800px;
        width: auto;
        margin: 0 auto;
        padding: 0px 30px;
    }

    @include tablets {
        min-width: 440px;
        margin: 0 auto;
        padding: 0px 20px;
    }

    @include phones {
        min-width: 300px;
        margin: 0 auto;
        padding: 0px 10px;
    }
}

@font-face {
	font-family: 'Georgia-Bold';
	src: url('../fonts/Georgia-Bold.eot');
	src: url('../fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Georgia-Bold.woff2') format('woff2'),
		url('../fonts/Georgia-Bold.woff') format('woff'),
		url('../fonts/Georgia-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}