@import "./misc.scss";

body {
	background: bisque;
}

.class {
	color: green;
	font-family: "Georgia-Bold";
	text-align: center;
}

.center {
	text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    &_relative {
        position: relative;
    }
    &_flex {
        display: flex;
    }
    @include laptops {
        min-width: 800px;
        width: auto;
        margin: 0 auto;
        padding: 0px 30px;
    }

    @include tablets {
        min-width: 440px;
        margin: 0 auto;
        padding: 0px 20px;
    }

    @include phones {
        min-width: 300px;
        margin: 0 auto;
        padding: 0px 10px;
    }
}

@font-face {
	font-family: 'Georgia-Bold';
	src: url('../fonts/Georgia-Bold.eot');
	src: url('../fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Georgia-Bold.woff2') format('woff2'),
		url('../fonts/Georgia-Bold.woff') format('woff'),
		url('../fonts/Georgia-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}